<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
</head>
<body>
    
<h1>Hamilton</h1>
<img src="/public/img/hamilton.jpg" alt="">
<p>
    Margaret Hamilton fue una auténtica pionera y visionaria de la programación informática, una mujer que ayudó a crear lo que serían las bases de la ingeniería de software y que, probablemente, evitó el desastre durante el aterrizaje del Apolo 11 haciendo posible que el hombre llegara a la Luna.
</p>
</body>
</html>