<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
</head>
<br>
    
<h1>DH Heroes</h1>
<ul>Nuestros Heroes son:</ul>
<li>
<a href="./babbage.html"> Babbage</li>
<li>
<a href="./betners-lee.html"> Betners Lee
</li>
<li>
<a href="./clarke.html"> Clarke
</li>
<li>
<a href="./hamilton.html"> Hamilton
</li>
<li>
<a href="./hopper.html"> Hopper
</li>
<li>
<a href="./lovelace.html"> Lovelace 
</li>
<li>
<a href="./turing.html"> Turing 
</li>
</body>
</html>